html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

 a {
   color: #000000;
   text-decoration: none;
 }

 a:hover,
 a:focus {
  color: #81b3d2;
 }

 a:active {
   color: rgba(0, 0, 0, 0.3);
 }

 .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Шапка сайта */
.page-header {
  position: absolute;
  top: 0;

  background-color: #ffffff;
}

.page-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -70px;
}

.page-navigation {
  padding: 0 72px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;

  list-style: none;
}

.site-navigation-item {
  width: 264px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation-item-current a {
  color: #766357;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:last-child {
  text-align: right;
}

/* Блок интро */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 132px;

  background-image:
    url("../img/intro-mask.svg"),
    url("../img/intro-mask.jpg"),
    url("../img/background-main.jpg");
  background-position:
    center 507px,
    bottom center,
    0 0;
  background-repeat: no-repeat;
}

.intro img {
  margin-bottom: 138px;
}

.intro h2 {
  width: 445px;
  margin: 0;
  margin-bottom: 29px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.intro p {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
}

/* Блок преимуществ */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: list-item;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 60px;

  background-color: #eeeeee;
}

.advantages-item:first-child,
.advantages-item:nth-child(2) {
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.advantages-item:nth-child(2) {
  flex-direction: row-reverse;
}

.advantages-item:first-child,
.advantages-item:last-child {
  order: -1;
  padding: 0;
}

.advantages-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 43px;
  padding-right: 60px;
  padding-bottom: 55px;
  padding-left: 60px;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages-item h3,
.advantages-item p {
  text-align: center;
}

.advantages-item h3,
.advantages-sub-item h4 {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding-left: 64px;
  padding-right: 65px;

  font-size: 21px;
  line-height: 21px;
}

.count-list-item-wrap {

  position: relative;
  margin-bottom: 25px;

  line-height: 21px;
}

.count-list-item-wrap::before,
.count-list-item-wrap::after {
  content: "";
  position: absolute;
  top: 10px;

  width: 9px;
  height: 1px;

  background-color: #333333;
}

.advantages-item-wrap .count-list-item-wrap::before,
.advantages-item-wrap .count-list-item-wrap::after {
  background-color: #ffffff;
}

.count-list-item-wrap::before {
  left: -15px;
}

.count-list-item-wrap::after {
  right: -15px;
}

.count-list-item::before {
  counter-increment: list-item;
  content: "№" counter(list-item);
}

.advantages-item p {
  margin: 0;
  padding: 0;

  line-height: 21px;
}

.advantages-sub-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-sub-item {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 66px;
  padding-left: 60px;

  background-color: #ffffff;
}

.advantages-sub-item img {
  margin-bottom: 30px;
}

/* Блок поиска гостиницы */
.hotel-search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;

  background-color: #ffffff;
}

.hotel-search b {
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search p {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  padding: 0 380px;

  text-align: center;
}

.search-button {
  padding: 30px 137px;

  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

/* Форма поиска */
.search-form {
  position: absolute;
  top: 302px;
  left: 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 568px;
  margin-left: -284px;
  padding: 55px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.search-form-wrap {
  position: relative;
  width: 458px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search-form-wrap:nth-child(3){
  width: 226px;
}

.search-form-wrap:nth-child(4) {
  width: 179px;
}

.date-field,
.number-field {
  margin: 0;
  margin-bottom: 30px;
  padding: 6px 13px;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;

  border: none;
}

.date-field {
  width: 346px;
}

.number-field {
  width: 114px;

  text-align: center;

  -moz-appearance: textfield;
}

.number-field::-webkit-inner-spin-button,
.number-field::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

.date-field:hover,
.number-field:hover {
  background-color: #ebebeb;
}

.date-field:focus,
.number-field:focus {
  background-color: #ffffff;

  outline-color: #e5e5e5;
}

.date-button {
  position: absolute;
  top: 0;
  right: 0;

  width: 38px;
  height: 38px;

  background-color: transparent;

  border: none;

}

.date-button:hover path,
.date-button:focus path {
  fill: #000000;
}

.date-button:active path {
  fill: #81b3d2;
}

.number-field-button {
  position: absolute;

  width: 38px;
  height: 38px;

  background-color: transparent;

  border: none;
}

.decrease-button {
  top: 0;
  right: 76px;
  background-image: url("../img/");
}

.decrease-button::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.increase-button {
  top: 0;
  right: 0;
}

.increase-button::before,
.increase-button::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 13px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.increase-button::after {
  transform: rotate(90deg);
}

.decrease-button:hover::before,
.increase-button:hover::before,
.increase-button:hover::after,
.decrease-button:focus::before,
.increase-button:focus::before,
.increase-button:focus::after {
  background-color: #000000;
}

.decrease-button:active::before,
.increase-button:active::before,
.increase-button:active::after {
  background-color: #81b3d2;
}

.find-button {
  margin-top: 24px;
  padding: 16px 196px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;

  border: none;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/*Блок фильтра */
.filter {
  padding-top: 85px;
  padding-right: 73px;
  padding-bottom: 131px;
  padding-left: 73px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.infrastructure,
.house-type,
.cost {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form legend {
  margin-bottom: 26px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.infrastructure {
  margin-right: 115px;
}

.infrastructure label,
.house-type label {
  position: relative;
  margin-bottom: 23px;
  padding-left: 40px;
}

.infrastructure label::before,
.house-type label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.infrastructure-checkbox:checked + label::before,
.house-type-checkbox:checked + label::before {
  width:27px;
  background-image: url("../img/checkbox-on.svg");
}

.infrastructure-checkbox:disabled + label::before,
.house-type-checkbox:disabled + label::before {
  opacity: 0.4;
}

.cost {
  width: 318px;
  margin-left: auto;
}

.cost legend {
  margin-bottom: 12px;
}

.cost-field {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;

  border: 2px solid #ffffff;
  border-collapse: separate;
  border-radius: 2px;
}

.cost-field td {
  padding: 0;

  text-align: center;
}

.cost-field td:last-child {
  border-left: 2px solid #ffffff;
}

.cost-field input {
  width: 35px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;


  background-color: transparent;

  border: none;
}

.price-range {
  width: 100%;
  padding-bottom: 32px;
  padding-left: 10px;
}

.scale {
  position: relative;
  width: 308px;
  height: 2px;
  background-color: rgba(248,247,244,.5)
}

.price-slider {
  content: "";

  position: absolute;
  top: -8px;
  left: -10px;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  cursor: pointer
}

.price-slider:last-child {
  left: 254px;
}

.price-slider:hover,.price-slider:focus {
  transform: scale(1.1)
}

.checked-range {
  width: 254px;
  height: 2px;
  background-color: #f8f7f4
}

.filter-button {
  margin: 0 auto;
  padding: 7px 35px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

/* Подвал сайта */
.page-footer {
  position: absolute;
  bottom: 0;


  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 36px 72px;

  background-color: rgba(254, 254, 254, 0.9);
}

.hash-tag {
  width: 241px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 6px;
}

.social-item a {
  display: inline-block;
  width: 46px;
  height: 48px;
  padding: 13px;

  vertical-align: middle;

  text-align: center;

  background-color: #81b3d2;
}

.social-item a:hover,
.social-item a:focus {
  background-color: #669ec0;
}

.social-item a:active {
  background-color: #5496bd;
}

.social-item a:active path {
  fill: #88b6d1;
}

.copyright {
  width: 241px;
  margin: 0;

  line-height: 26px;
  color: #000000;
}

.copyright a {
  display: inline-block;

  vertical-align: middle;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
  fill: #81b3d2;
}

.copyright-logo:active path {
  fill: #bdbbbc;
}
