html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

 a {
   color: #000000;
   text-decoration: none;
 }

 a:hover,
 a:focus {
  color: #81b3d2;
 }

 a:active {
   color: rgba(0, 0, 0, 0.3);
 }

 .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Шапка сайта */
.page-header {
  position: absolute;
  top: 0;

  background-color: #ffffff;
}

.page-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -70px;
}

.page-navigation {
  padding: 0 72px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;

  list-style: none;
}

.site-navigation-item {
  width: 264px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation-item:nth-child(3),
.site-navigation-item:last-child {
  text-align: right;
}

/* Блок интро */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 132px;

  background-image:
    url("../img/intro-mask.svg"),
    url("../img/intro-mask.jpg"),
    url("../img/background-main.jpg");
  background-position:
    center 507px,
    bottom center,
    0 0;
  background-repeat: no-repeat;
}

.intro img {
  margin-bottom: 138px;
}

.intro h2 {
  width: 445px;
  margin: 0;
  margin-bottom: 29px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.intro p {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
}

/* Блок преимуществ */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: list-item;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 60px;

  background-color: #eeeeee;
}

.advantages-item:first-child,
.advantages-item:nth-child(2) {
  flex-direction: row;
  width: 100%;
  padding: 0;
}

.advantages-item:nth-child(2) {
  flex-direction: row-reverse;
}

.advantages-item:first-child,
.advantages-item:last-child {
  order: -1;
  padding: 0;
}

.advantages-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 43px;
  padding-right: 60px;
  padding-bottom: 55px;
  padding-left: 60px;

  color: #ffffff;

  background-color: #81b3d2;
}

.advantages-item h3,
.advantages-item p {
  text-align: center;
}

.advantages-item h3,
.advantages-sub-item h4 {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  padding-left: 64px;
  padding-right: 65px;

  font-size: 21px;
  line-height: 21px;
}

.count-list-item-wrap {

  position: relative;
  margin-bottom: 25px;

  line-height: 21px;
}

.count-list-item-wrap::before,
.count-list-item-wrap::after {
  content: "";
  position: absolute;
  top: 10px;

  width: 9px;
  height: 1px;

  background-color: #333333;
}

.advantages-item-wrap .count-list-item-wrap::before,
.advantages-item-wrap .count-list-item-wrap::after {
  background-color: #ffffff;
}

.count-list-item-wrap::before {
  left: -15px;
}

.count-list-item-wrap::after {
  right: -15px;
}

.count-list-item::before {
  counter-increment: list-item;
  content: "№" counter(list-item);
}

.advantages-item p {
  margin: 0;
  padding: 0;

  line-height: 21px;
}

.advantages-sub-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages-sub-item {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 66px;
  padding-left: 60px;

  background-color: #ffffff;
}

.advantages-sub-item img {
  margin-bottom: 30px;
}

/* Блок поиска гостиницы */
.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;

  background-color: #ffffff;
}

.hotel-search b {
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search p {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding: 0 380px;

  text-align: center;
}

.search-button {
  padding: 33px 140px;

  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;

  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

/* Подвал сайта */
.page-footer {
  position: absolute;
  bottom: 0;


  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 36px 72px;

  background-color: rgba(254, 254, 254, 0.9);
}

.hash-tag {
  width: 241px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 6px;
}

.social-item a {
  display: inline-block;
  width: 46px;
  height: 48px;
  padding: 13px;

  vertical-align: middle;

  text-align: center;

  background-color: #81b3d2;
}

.social-item a:hover,
.social-item a:focus {
  background-color: #669ec0;
}

.social-item a:active {
  background-color: #5496bd;
}

.social-item a:active path {
  fill: #88b6d1;
}

.copyright {
  width: 241px;
  margin: 0;

  line-height: 26px;
  color: #000000;
}

.copyright a {
  display: inline-block;

  vertical-align: middle;
}

.copyright-logo:hover path,
.copyright-logo:focus path {
  fill: #81b3d2;
}

.copyright-logo:active path {
  fill: #bdbbbc;
}
